<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technalt.serverlessCafe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <!-- Permission required to use the TCP transport -->
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- Permission required to use the Bluetooth transport -->
    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.allseenaliance.alljoyn.CafeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NoActionBar" >
        <activity
            android:name="tw.futureinsighters.client.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.allseenaliance.alljoyn.AllJoynService" >
        </service>

        <activity
            android:name="tw.futureinsighters.client.ControllerActivity"
            android:label="@string/title_activity_controller"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="tw.futureinsighters.client.TvControllerActivity"
            android:label="@string/title_activity_tvcontroller"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="tw.futureinsighters.client.SettingsActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
    
        <activity
            android:name="tw.futureinsighters.client.ImageviewActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        
          <activity
            android:name="tw.futureinsighters.client.VideoviewActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="tw.futureinsighters.client.NotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>